.user {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 400px;
  color: #fff;
  border-radius: 4px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.user-checked {
  color: #000;
  background: #ccc;
}
