.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 60px;
  padding: 1rem 0;
}
